<!-- Personnal section  -->
<div class="container">
    <h2 class="text-center">Personnal details</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>#</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody *ngFor="let details of _personnalDetails;let i=index">
            <tr>
                <td>{{i+1}}</td>
                <td>{{details.field}}</td>
                <td>{{details.data}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- buttons -->
<div id="container">
    <button type="button" class="btn btn-default" routerLink="/home">Go to home page</button>
    <button type="button" class="btn btn-default" routerLink="/professional-section">See professional details</button>
</div>